/* checkout.css */

body {
    background-image: url('/static/assets/white-concrete-wall-bg.png');
    background-size: 100% 500%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; /* Remove default margin for better control */
}

h1 {
    font-size: 30px;
    font-family: Bree Serif, 'Source Sans Pro';
    color: black;
    font-weight: normal;
    margin-top: 30px; /* Manually position the h1 element */
    margin-left: 50px;
    margin-bottom: -80px;
}

p {
    font-size: 18px;
    font-family: Bree Serif, 'Source Sans Pro';
    color: black;
    margin-top: 10px; /* Manually position the p element */
    margin-left: 60px;
}
p1 {
    font-size: 18px;
    font-family: Bree Serif, 'Source Sans Pro';
    color: black;
    margin-top: 0px; /* Manually position the p element */
    margin-left: 30px;
}

form {
    max-width: 300px;
    margin: 20px 0;
    position: relative; /* Add positioning context to the form */
    left: 50px; /* Manually position the form element */
}

label {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-size: 16px;
    font-family: Bree Serif, 'Source Sans Pro';
}

input[type="text"] {
    width: 110%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 8px 12px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    font-family: Bree Serif, 'Source Sans Pro';
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: 1px;
}

a.button {
    display: inline-block;
    font-size: 20px;
    padding: 8px 12px;
    background-color: #FF5C5C;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.5s, color 0.5s;
    margin-top: -10px; /* Manually position the button */
    margin-left: 20px;
}

a.button:hover {
    background-color: white;
    color: black;
}

.items {
    padding-top: 10px;
    font-family: Bree Serif, 'Source Sans Pro';
    font-size: 16px;
 
}

.table {
    color: black;
    font-family: Bree Serif, 'Source Sans Pro';
    margin-top: 20px; /* Manually position the table element */
    margin-left: -40px;
}
