body {
    background-image: url('/static/assets/white-concrete-wall-bg.png');
    background-size: cover; 
}

.button {
    position:absolute;
    display: inline-block;
    top:34rem;
    left:40rem;
    display: inline-block;
    font-size: 35px;
    padding: 8px 12px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    background-color: black;
    color: white;
}

h1 {
    position: absolute;
    text-align: center;
    align-items: center;
    left: 15rem;
    top: 7rem;
    font-size: 8rem;
    font-weight: 300;
    font-family: Kaushan Script, 'Source Sans Pro';
    color: red;
    white-space: nowrap;
  }