<!DOCTYPE html>
<html>
<head>
    <link href="\static\cartcss.css"type="text/css"rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script%3A400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif%3A400"/>  
    <title>Shopping Cart</title>
</head>
<body>
    
    <div>
    
        <img class="pizzeria_logo" src="static/assets/pizzeria-logo-2.png"/>
    
    
        <h1 class = "title" >Shopping Cart</h1>
    </div>
    
    
    <div class = "table">
        <ul>
            {% for (item_key, quantity) in item_quantities.items() %}
        <li class="lines">
            {{ quantity }} x {{ item_key[0]}} - ${{ item_key[1] * quantity }}
            {% endfor %}
        </li>
        </ul>
        <p><a class="button" href="{{ url_for('checkout') }}">Proceed to Checkout</a></p>
        <p><a class="button" href="http://127.0.0.1:5000/">Continue Shopping</a></p>   
        
    </div>
        

</body>
</html>