<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script%3A400"/>
  <link href="static\style.css"
        type="text/css"
        rel="stylesheet">
        <title>Pizzeria</title>
</head>
<body>
  <div class="container">
    <img src="static\assets\Mask_group_(15).png" alt="Image" class="top-right-image">
    <!-- Other content of your page goes here -->
  </div>
  <div class="flag-container">
    <img src="static\assets\italian_flag.png" alt="Italian Flag" class="flag-image">
</div>
  <button class="fixed-button">
    <img src="static\assets\basket1.png" alt="Basket Icon" class="icon">
  </button>
<div class="final-wG6">
  <div class="group-149-WCi">
    <div class="slide-16-9-4-cwt">
      <div class="auto-group-q3hl-TxW">
        <img class="pizzeria-logo-1-ZVk" src="static\assets\pizzeria-logo-1-9J2.png"/>
        <div class="auto-group-jxv6-rze">
          <div class="group-145-z5G">
            <img class="mask-group-t4A" src="static\assets\mask-group-gsU.png"/>
            <p class="marioluigipizza-zcz">marioluigipizza</p>
          </div>
          <div class="group-144-swg">
            <img class="mask-group-q7p" src="static\assets\mask-group-Z38.png"/>
            <p class="marioandluiginl-ZpW">marioandluigi@nl</p>
          </div>
          <div class="group-143-gPL">
            <img class="mask-group-1wQ" src="static\assets\mask-group-pPC.png"/>
            <p class="item-06-47091616-A3c">06-47091616 </p>
          </div>
        </div>
      </div>
      <p class="mamma-mia-flavor-fiesta-at-mario-luigis-pizzeria-where-every-slice-is-a-taste-of-italy-rh8">
        <span class="mamma-mia-flavor-fiesta-at-mario-luigis-pizzeria-where-every-slice-is-a-taste-of-italy-rh8-sub-0">
        Mamma Mia! 
        <br/>
        Flavor Fiesta at Mario &amp; Luigi&#39;s Pizzeria
        <br/>
        Where Every Slice is a Taste of 
        </span>
        <span class="mamma-mia-flavor-fiesta-at-mario-luigis-pizzeria-where-every-slice-is-a-taste-of-italy-rh8-sub-1">It</span><span class="mamma-mia-flavor-fiesta-at-mario-luigis-pizzeria-where-every-slice-is-a-taste-of-italy-rh8-sub-2">al</span><span class="mamma-mia-flavor-fiesta-at-mario-luigis-pizzeria-where-every-slice-is-a-taste-of-italy-rh8-sub-3">y!</span>
      </p>
      <div class="button-dFx">Start Ordering</div>
    </div>
    <div class="item-111-Dzr">
      <p class="about-us-M5U">About us</p>
      <div class="auto-group-4rai-4Vg">
        <p class="welcome-to-mario-and-luigis-pizzeria-its-a-place-where-passion-meets-flavor-bkW">
          <span class="welcome-to-mario-and-luigis-pizzeria-its-a-place-where-passion-meets-flavor-bkW-sub-0">Welcome to Mario and Luigi&#39;s Pizzeria, it's a place where </span>
          <span class="welcome-to-mario-and-luigis-pizzeria-its-a-place-where-passion-meets-flavor-bkW-sub-1">passion</span>
          <span class="welcome-to-mario-and-luigis-pizzeria-its-a-place-where-passion-meets-flavor-bkW-sub-2"> meets </span>
          <span class="welcome-to-mario-and-luigis-pizzeria-its-a-place-where-passion-meets-flavor-bkW-sub-3">flavor</span>
          <span class="welcome-to-mario-and-luigis-pizzeria-its-a-place-where-passion-meets-flavor-bkW-sub-4">!</span>
        </p>
        <p class="join-us-on-a-culinary-journey-inspired-by-the-mario-brothers-where-every-bite-is-an-adventure-aeN">Join us on a culinary journey inspired by the Mario brothers, where every bite is an adventure.</p>
        <img class="png-transparent-olive-tree-drawing-olive-oil-mediterranean-cuisine-olive-branch-food-plant-leaf-fruit-removebg-preview-1-3Xx" src="static\assets\png-transparent-olive-tree-drawing-olive-oil-mediterranean-cuisine-olive-branch-food-plant-leaf-fruit-removebg-preview-1.png"/>
        <p class="were-not-just-a-pizzeria-were-a-slice-of-italy-right-in-your-neighborhood-WRY">We&#39;re not just a pizzeria; we&#39;re a slice of Italy right in your neighborhood.</p>
        <p class="our-handcrafted-pizzas-made-with-love-and-the-finest-ingredients-bring-the-joy-of-authentic-italian-cuisine-to-your-table-agJ">Our handcrafted pizzas, made with love and the finest ingredients, bring the joy of authentic Italian cuisine to your table.</p>
        <div class="group-166-qML">
          <img class="arrow-1-KXQ" src="static\assets\arrow-1.png"/>
        </div>
      </div>
    </div>
  </div>
  <p class="hit-offers-CLJ">Hit-Offers</p>
  <div class="auto-group-jc6v-Wbt">
    <div class="group-210-zmx">
      <div class="auto-group-gzpc-KpE">
        <div class="rectangle-71-f7Q">
        </div>
        <img class="vecteezypepperoni-pizza-isolated-illustration-ai-generative23742417468-2-7VC" src="static\assets\vecteezypepperoni-pizza-isolated-illustration-ai-generative23742417468-2.png"/>
        <p class="pizza-pepperoni-bvA">Pizza pepperoni</p>
        <p class="item-899-1199-J3t">
          <span class="item-899-1199-J3t-sub-0">€8.99 </span>
          <span class="item-899-1199-J3t-sub-1">11.99</span>
        </p>
        <img class="mask-group-Kt6" src="static\assets\mask-group-Hjx.png"/>
      </div>
      <div class="auto-group-q5fx-FFx">
        <img class="fe1c4c7ac1474490609021e3e987dd584x584-1-9cE" src="static\assets\fe1c4c7ac1474490609021e3e987dd584x584-1.png"/>
        <div class="auto-group-jcft-3Si">
          <p class="mario-dodster-xpa">Mario Dodster</p>
          <p class="item-599-sge">€5.99</p>
        </div>
      </div>
      <div class="auto-group-38pl-7qt">
        <img class="pizza-margherita-on-transparent-background-png-1-2hx" src="static\assets\pizza-margherita-on-transparent-background-png-1.png"/>
        <div class="auto-group-afea-9Xg">
          <p class="pizza-margharita-H86">Pizza margharita</p>
          <p class="item-945-QTc">€9.45</p>
        </div>
      </div>
      <div class="auto-group-znou-EhY">
        <p class="ham-pizza-amQ">Ham Pizza</p>
        <p class="item-1199-gpS">€11.99</p>
        <img class="ham-pizza-pizza-2-yoY" src="static\assets\ham-pizza-pizza-2.png"/>
      </div>
    </div>
    
    <!-- THE SEARCH BAR  -->
    <div class = >

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- The form -->
      <form class="example" method="POST">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    
    </div>
    
    
    <div class="auto-group-ohmc-3aS">
      <div class="group-194-wA2">
        <img class="vegancalifornian-8071-5GE" src="static\assets\vegancalifornian-8071-J7t.png"/>
        <div class="group-185-CLr">
          <div class="auto-group-mrce-gmp">
            <p class="pepperoni-pizza-RjQ">Pepperoni Pizza</p>
            <img class="vecteezypepperoni-pizza-isolated-illustration-ai-generative23742417468-1-7cE" src="static\assets\vecteezypepperoni-pizza-isolated-illustration-ai-generative23742417468-1.png"/>
            <img class="mask-group-QbL" src="static\assets\mask-group-Cnn.png"/>
          </div>
          <p class="tomato-sauce-extra-mozzarella-pepperoni-wLN">Tomato sauce, extra mozzarella &amp; pepperoni</p>
          <div class="auto-group-txs4-SY2">
            <p class="item-899-1199-m4W">
              <span class="item-899-1199-m4W-sub-0">€</span>
              <span class="item-899-1199-m4W-sub-1">8.99 </span>
              <span class="item-899-1199-m4W-sub-2">11.99</span>
            </p>
            {% for product in products %}
            <a href="{{ url_for('add_to_cart', product_id=1) }}">
            {% endfor %}
              <img class="add-1-7-QWn" src="static\assets\add-1-7.png" alt="Button" />
            </a>
          </div>
        </div>
      </div>
      <div class="group-195-578">
        <img class="vegancalifornian-8071-deS" src="static\assets\vegancalifornian-8071-9hk.png"/>
        <div class="group-173-Z2J">
          <img class="vegancalifornian-8071-r1Q" src="static\assets\vegancalifornian-8071-6g2.png"/>
          <p class="vegan-californian-pizza-aTC">Vegan Californian Pizza</p>
          <p class="tomato-sauce-mozzarella-mushrooms-bell-pepper-onion-olives-UoU">Tomato sauce, mozzarella, mushrooms, bell pepper, onion &amp; olives</p>
          <div class="auto-group-almp-xyY">
            <p class="item-1399-K3Q">€13.99</p>
            {% for product in products %}
            <a href="{{ url_for('add_to_cart', product_id=2) }}">
            {% endfor %}
              <img class="add-1-1-R6S" src="static\assets\add-1-1.png" alt="Button" />
            </a>
          </div>
        </div>
      </div>
      <div class="group-197-4v6">
        <img class="pizza-margherita-on-transparent-background-png-1-BUv" src="static\assets\pizza-margherita-on-transparent-background-png-1-Wxz.png"/>
        <p class="margaritha-pizza-6Lz">Margaritha Pizza</p>
        <p class="tomato-sauce-extra-mozzarella-tomatoes-pizza-herbs-BtE">Tomato sauce, extra mozzarella, tomatoes &amp; pizza herbs        </p>
        <div class="auto-group-tax4-sm4">
          <p class="item-1399-RXg">€9.99</p>
          {% for product in products %}
          <a href="{{ url_for('add_to_cart', product_id=3) }}">
          {% endfor %}
            <img class="add-1-12-wkv" src="static\assets\add-1-12.png" alt="Button" />
          </a>
        </div>
      </div>
    </div>
    <div class="auto-group-8ucs-CRx">
      <div class="group-199-i9Q">
        <div class="group-177-T6z">
          <p class="ham-pizza-MCN">Ham Pizza</p>
          <p class="tomato-sauce-extra-mozzarella-ham-pbk">Tomato sauce, extra mozzarella &amp; ham</p>
          <div class="auto-group-uvaa-vug">
            <p class="item-1199-gdx">€11.99</p>
            {% for product in products %}
            <a href="{{ url_for('add_to_cart', product_id=4) }}">
            {% endfor %}
            <img class="add-1-3-DNz" src="static\assets\add-1-3.png" alt="Button" />
            </a>
          </div>
        </div>
        <img class="ham-pizza-pizza-1-GcA" src="static\assets\ham-pizza-pizza-1.png"/>
      </div>
      <div class="group-179-PRt">
        <img class="tuna-8073-1-gA6" src="static\assets\tuna-8073-1.png"/>
        <p class="tonno-pizza-nD8">Tonno Pizza</p>
        <p class="tomato-sauce-extra-mozzarella-tuna-onion-olives-6Dp">Tomato sauce, extra mozzarella, tuna, onion &amp; olives </p>
        <div class="auto-group-5wxx-C1x">
          <p class="item-1299-wkE">€12.99</p>
          {% for product in products %}
          <a href="{{ url_for('add_to_cart', product_id=5) }}">
          {% endfor %}
          <img class="add-1-4-TTg" src="static\assets\add-1-4.png" alt="Button" />
          </a>
        </div>
      </div>
      <div class="group-181-hcv">
        <div class="auto-group-hubx-ovr">
          <p class="chicken-pizza-YtS">Chicken Pizza</p>
          <img class="pizza-chicken-Fnr" src="static\assets\pizza-chicken.png"/>
        </div>
        <p class="tomato-sauce-grilled-chicken-extra-mozzarella-PeA">Tomato sauce, grilled chicken &amp; extra mozzarella</p>
        <div class="auto-group-nffp-JFL">
          <p class="item-1299-Vai">€12.99</p>
          {% for product in products %}
          <a href="{{ url_for('add_to_cart', product_id=6) }}">
          {% endfor %}
          <img class="add-1-5-ByL" src="static\assets\add-1-5.png" alt="Button" />
          </a>
        </div>
      </div>
    </div>
    <div class="auto-group-wfye-pmQ">
      <div class="group-183-LUr">
        <img class="bbq-9414-dyk" src="static\assets\bbq-9414.png"/>
        <p class="bbq-grill-pizza-Muk">BBQ Grill Pizza</p>
        <p class="bbq-sauce-mozzarella-salami-grilled-chicken-minced-beef-pepper-onion-fQe">BBQ sauce, mozzarella, salami, grilled chicken, minced beef, pepper &amp; onion</p>
        <div class="auto-group-zdnj-kBC">
          <p class="item-1399-JCi">€13.99</p>
          {% for product in products %}
          <a href="{{ url_for('add_to_cart', product_id=7) }}">
          {% endfor %}
          <img class="add-1-6-RHL" src="static\assets\add-1-6.png" alt="Button" />
          </a>
        </div>
      </div>
      <div class="group-203-H4e">
        <div class="group-187-q6A">
          <img class="mexican-8062-8b4" src="static\assets\mexican-8062.png"/>
          <p class="maxicano-pizza-fL6">Maxicano Pizza</p>
          <p class="tomato-sauce-mozzarella-pepperoni-bell-pepper-onion-jalapeos-Myc">
          Tomato sauce, mozzarella, pepperoni, bell pepper, onion &amp; jalapeños.
          </p>
          <div class="auto-group-atbc-T14">
            <p class="item-1399-12a">€13.99</p>
            {% for product in products %}
            <a href="{{ url_for('add_to_cart', product_id=8) }}">
            {% endfor %}
            <img class="add-1-8-87C" src="static\assets\add-1-8.png" alt="Button" />
            </a>
          </div>
        </div>
        <div class="group-189-nSe">
          <img class="cheese-pizza-4-cheese-pizza-png-gnv" src="static\assets\cheese-pizza-4-cheese-pizza-png.png"/>
          <p class="four-cheese-pizza-Bjg">Four Cheese Pizza</p>
          <p class="tomato-sauce-mozzarella-gouda-and-cheddar-cheese-mix-soft-french-cheese-pizza-herbs-gwL">Tomato sauce, mozzarella, Gouda and cheddar cheese mix, soft French cheese &amp; pizza herbs</p>
          <div class="auto-group-cmvc-NpA">
            <p class="item-1399-vqg">€13.99</p>
            {% for product in products %}
            <a href="{{ url_for('add_to_cart', product_id=9) }}">
            {% endfor %}
            <img class="add-1-9-4S6" src="static\assets\add-1-9.png" alt="Button" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-awcw-tg2">
      <div class="group-205-p3t">
        <div class="group-191-ANe">
          <img class="hawaiian-pizza-isolated-on-transparent-background-png-fqC" src="static\assets\hawaiian-pizza-isolated-on-transparent-background-png.png"/>
          <p class="hawaii-pizza-Amx">Hawaii Pizza</p>
          <p class="tomato-sauce-ham-pineapple-extra-mozzarella-U1x">Tomato sauce, ham, pineapple &amp; extra mozzarella.</p>
          <div class="auto-group-8nu2-Z3Q">
            <p class="item-999-JFt">€9.99</p>
            {% for product in products %}
            <a href="{{ url_for('add_to_cart', product_id=10) }}">
            {% endfor %}
            <img class="add-1-10-Dte" src="static\assets\add-1-10-G2e.png" alt="Button" />
              </a>
          </div>
        </div>
        <div class="group-193-sTQ">
          <img class="pngtree-top-view-of-pizza-margherita-delicious-picture-image13032122-ymL" src="static\assets\pngtree-top-view-of-pizza-margherita-delicious-picture-image13032122.png"/>
          <p class="vegan-pizza-Fyk">Vegan Pizza</p>
          <p class="tomato-sauce-vegan-cheese-pizza-herbs-xtA">
          Tomato sauce, vegan cheese &amp; pizza herbs
          <br/>
          
          </p>
          <div class="auto-group-zgpc-4wC">
            <p class="item-1399-pfU">€13.99</p>
            {% for product in products %}
            <a href="{{ url_for('add_to_cart', product_id=11) }}">
            {% endfor %}
            <img class="add-1-11-9hk" src="static\assets\add-1-11.png" alt="Button" />
          </a>
          </div>
        </div>
      </div>
      <div class="group-198-CAE">
        <div class="group-174-wtW">
          <img class="vegancalifornian-8071-sXG" src="static\assets\vegancalifornian-8071.png"/>
        </div>
        <div class="group-175-iGz">
          <img class="dsc0956-min-c7U" src="static\assets\dsc0956-min.png"/>
          <p class="meatlover-pizza-K1t">Meatlover Pizza</p>
          <p class="bbq-sauce-mozzarella-pepperoni-minced-beef-bacon-onion-d2a">BBQ sauce, mozzarella, pepperoni, minced beef, bacon &amp; onion</p>
          <div class="auto-group-tvyy-7iS">
            <p class="item-1499-gFk">€14.99</p>
            {% for product in products %}
            <a href="{{ url_for('add_to_cart', product_id=12) }}">
            {% endfor %}
            <img class="add-1-2-QSe" src="static\assets\add-1-2.png" alt="Button" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-se8r-4n6">
      <div class="auto-group-j842-B62">
        <div class="group-211-We6">
          <div class="group-191-TJS">
            <img class="mediamodifierimage-1-Z6a" src="static\assets\mediamodifierimage-1.png"/>
            <p class="cappuccino-sd4">Cappuccino</p>
            <div class="auto-group-zcuz-NJv">
              <p class="item-195-7GW">€1.95</p>
              {% for product in products %}
              <a href="{{ url_for('add_to_cart', product_id=13) }}">
              {% endfor %}
              <img class="add-1-10-2eN" src="static\assets\add-1-10-rFU.png" alt="Button" />
              </a>
            </div>
          </div>
          <div class="group-193-giv">
            <img class="mediamodifierimage-2-PtE" src="static\assets\mediamodifierimage-2.png"/>
            <p class="americano-XUe">Americano</p>
            <div class="auto-group-tr8s-2gJ">
              <p class="item-195-Zw8">€1.95</p>
              {% for product in products %}
              <a href="{{ url_for('add_to_cart', product_id=14) }}">
              {% endfor %}
              <img class="add-1-11-hnS" src="static\assets\add-1-11-83t.png" alt="Button" />
              </a>
            </div>
          </div>
        </div>
        <div class="group-213-ZZk">
          <div class="group-191-VTQ">
            <p class="coca-cola-8FU">Coca Cola</p>
            <p class="item-135-oiz">€1.35</p>
              {% for product in products %}
              <a href="{{ url_for('add_to_cart', product_id=16) }}">
              {% endfor %}
            <img class="add-1-10-qfg" src="static\assets\add-1-10.png" alt="Button" />
              </a>
          </div>
          <div class="group-193-hSz">
            <img class="png-clipart-sprite-zero-soda-can-sprite-zero-blue-can-food-sprite-2-d5k" src="static\assets\png-clipart-sprite-zero-soda-can-sprite-zero-blue-can-food-sprite-2.png"/>
            <p class="sprite-zero-LF4">Sprite Zero</p>
            <div class="auto-group-ydhc-Fsp">
              <p class="item-135-Ajt">€1.35</p>
              {% for product in products %}
              <a href="{{ url_for('add_to_cart', product_id=17) }}">
              {% endfor %}
              <img class="add-1-11-6Ne" src="static\assets\add-1-11-zGJ.png" alt="Button" />
            </a>
            </div>
          </div>
        </div>
        <div class="rectangle-962">
        </div>
      </div>
      <div class="group-212-EdG">
        <div class="group-174-nPt">
          <img class="vegancalifornian-8071-7SA" src="static\assets\vegancalifornian-8071-C6W.png"/>
        </div>
        <div class="group-175-MLW">
          <img class="mediamodifierimage-3-rHG" src="static\assets\mediamodifierimage-3.png"/>
          <p class="latte-aDG">Latte</p>
          <div class="auto-group-kyej-V5L">
            <p class="item-245-1pN">€2.45</p>
            {% for product in products %}
            <a href="{{ url_for('add_to_cart', product_id=15) }}">
            {% endfor %}
            <img class="add-1-2-YpJ" src="static\assets\add-1-2-qwx.png" alt="Button" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class="location-RNJ">Location</p>
    <div class="auto-group-phut-LkA">
      <img class="photo1698742587-1-5Sr" src="static\assets\photo1698742587-1.png"/>
      <div class="auto-group-uons-BVt">
        <p class="we-do-our-magic-at-the-address-jan-van-lieshoutstraat-5611-ee-eindhoven-8vv">
        We do our magic at the address:
        <br/>
        Jan van Lieshoutstraat, 5611 EE Eindhoven 
        </p>
        <img class="item-1-Q7k" src="static\assets\.png"/>
      </div>
    </div>
  </div>
  <div class="auto-group-kikj-gb4">
    <div class="group-185-1NS">
      <div class="group-183-Ktv">
        <img class="mask-group-fSz" src="static\assets\mask-group-pz6.png"/>
        <p class="jan-van-lieshoutstraat-5611-ee-eindhoven-nnW">Jan van Lieshoutstraat, 5611 EE Eindhoven </p>
      </div>
      <div class="auto-group-fple-hea">
        <div class="group-145-do8">
          <img class="mask-group-BZk" src="static\assets\mask-group-vnN.png"/>
          <p class="marioluigipizza-ipa">marioluigipizza</p>
        </div>
        <div class="group-144-rQz">
          <img class="mask-group-QhQ" src="static\assets\mask-group-A8A.png"/>
          <p class="marioandluiginl-8tJ">marioandluigi@nl</p>
        </div>
        <div class="group-143-3tn">
          <img class="mask-group-CWn" src="static\assets\mask-group-dyL.png"/>
          <p class="item-06-47091616-Xox">06-47091616 </p>
        </div>
      </div>
    </div>
    <div class="group-186-EyG">
      <p class="home-ZEr">Home</p>
      <p class="about-us-5yt">About Us</p>
      <p class="menu-cyp">Menu</p>
      <p class="location-xXt">Location</p>
    </div>
    <img class="pizzeria-logo-1-6e6" src="static\assets\pizzeria-logo-1.png"/>
  </div>
</div>
</body>