<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Order History</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
  <link href="static\order-history.css" type="text/css" rel="stylesheet">
</head>
<body>
  <ul>
    {% for order in complete_orders %}
      <li class="order-completed-9te">
        <img class="pizzeria-logo-2-gGJ" src="static/assets/pizzeria-logo-2.png" />
        <div class="group-210-YpJ">
          <div class="rectangle-84-1LW"></div>
          <p class="thanks-for-choosing-us-Rv2">Order ID: {{ order['order_id'] }}</p>
          <img class="mask-group-qsG" src="static/assets/mask-group.png"/>
          <ul>
            <ul class="cart-items"></ul>
            {% for item in order['cart'] %}
              <li>{{ item['name'] }} - ${{ item['price'] }}</li>
            {% endfor %}
          </ul>
          <a href="{{ url_for('mark_order_complete', order_id=order['order_id']) }}">Mark as Complete</a>
        </div>
      </li>
    {% endfor %}
  </ul>
</body>
</html>